* {
	font-family: monospace;
	padding: 0;
}

body {
	direction: rtl;
	padding: 0;
	margin: 0;
}

.Area {
	position: absolute;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	width: 50%;
	height: 100%;
	background: transparent;
}

.right {
	background: linear-gradient(to top right,
			black,
			black,
			black,
			rgb(226, 7, 255),
			black,
			black);
}

.left {
	background: linear-gradient(to top left,
			black,
			black,
			black,
			rgb(226, 7, 255),
			black,
			black);
}

.board {
	display: flex;
	outline: none;
	border: 5px solid rgb(0, 0, 0);
	border-radius: 1vw;
	flex-wrap: wrap;
	height: 40vw;
	width: 40vw;
	background-color: rgb(0, 0, 0);
	box-shadow: 0 0 5px 5px rgb(87, 0, 194);
	transition: 1s;
}

.board * {
	border-radius: 0.5vw;
	font-size: 2vw;
	direction: ltr;
	user-select: none;
}

.board * svg {
	height: 70%;
	width: 70%;
}

.col {
	width: 12.5%;
	display: block;
	height: 100%;
}

.white-b {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: black;
	top: 0;
	height: 12.5%;
	width: 100%;
	background-color: rgb(255, 255, 255);
	transition: 0.3s;
}

.black-b {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	top: 0;
	height: 12.5%;
	width: 100%;
	background-color: brown;
	transition: 0.3s;
}

.board:hover {
	box-shadow: 0px 0px 10px 10px rgb(115, 0, 255);
	background-color: transparent;
	border-color: transparent;
}

.board:hover * {
	border-radius: 1vw;
}

.board:hover .white-b {
	background-color: rgba(255, 255, 255, 0.5);
}

.board:hover .black-b {
	background-color: rgba(165, 42, 42, 0.5);
}

.black-b:hover {
	background: brown !important;
}

.white-b:hover {
	background: white !important;
}

.user-board {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 40vw;
	width: 40vw;
	background-color: rgb(14, 0, 31);
	border-radius: 15px;
	box-shadow: 0px 0px 10px 10px rgb(31, 0, 70);
	transition: 1s;
}

.user-board:hover {
	box-shadow: 0px 0px 10px 10px rgb(166, 0, 255);
}

h1 {
	color: white;
	font-weight: bold;
	font-size: 3vw;
	background-color: rgba(255, 0, 0, 0.438);
	border-radius: 3vw;
}

h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
}

section {
	position: relative;
	top: 0;
	direction: ltr;
	color: rgb(174, 0, 255);
}

section * {
	margin: 5px;
}

.mkMove {
	height: 3vw;
	width: 25%;
	border: 1px solid transparent;
	background-color: rgb(192, 0, 240);
	font-size: 2vw;
	text-align: center;
	border-radius: 4vw;
}

.mkMove:hover {
	box-shadow: 0 0 5px 5px black;
}

.move {
	height: 3vw;
	color: black;
	width: 20%;
	font-size: 120%;
	text-align: center;
	border-radius: 1vw;
	outline: none;
	border: 1px solid black;
	margin-left: 1vw;
	box-shadow: 2px 2px black;
}

.move:focus {
	background-color: rgb(99, 17, 167);
}

#white {
	background-color: #fff;
	color: black;
}

#black {
	background-color: black;
	color: white;
}

.status {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	user-select: none;
	font-size: 3vw;
	left: 35%;
	height: 10vw;
	width: 30%;
	border-radius: 1vw;
	box-shadow: 0 0 2px 2px rgb(22, 3, 58);
	text-align: center;
	background: rgb(57, 0, 90);
	color: red;
}

.bottom {
	content: "";
}

@media only screen and (max-width: 600px) {
	.Area {
		width: 100%;
		height: 60%;
	}

	.board {
		height: 100%;
		width: 100%;
	}

	.board * {
		font-size: 5vw;
	}

	.user-board {
		height: 80%;
		width: 95%;
	}

	.user-board section {
		height: 90%;
		width: 100%;
	}

	.user-board * {
		height: 7vw;
		font-size: 5vw;
	}

	.top {
		background: linear-gradient(to top left,
				black,
				black,
				rgb(226, 7, 255),
				black,
				black,
				black);
	}

	.bottom {
		position: absolute;
		top: 60%;
	}

	.user-board {
		position: relative;
		top: 0;
	}
}

.settings {
	position: absolute;
	top: 62%;
	right: 0.5%;
	height: 7vw;
	width: 7vw;
	font-size: 4vw;
	color: rgba(31, 0, 70);
	background-color: rgba(238, 238, 238, 0.267);
	transition: 1s;
}

.settings-pop {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 15vw;
	border-top-left-radius: 3vw;
	border-bottom-left-radius: 3vw;
	background-color: black;
	box-shadow: 0 0 10px 30px rgb(166, 0, 255);
	z-index: 1;
	transform: translateX(20vw);
	transition: 1s;
}

.settings:hover {
	background-color: transparent;
	transform: rotate(90deg);
	color: black;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	border: 1px solid transparent;
	border-radius: 1vw;
	cursor: pointer;
}

.close {
	position: relative;
	font-size: 3vw;
	top: 1vw;
	right: 1vw;
	height: 3vw;
	width: 3vw;
	background-color: rgb(115, 0, 255);
	color: rgb(0, 0, 0);
	transition: 1s;
}

.close:hover {
	color: white;
	font-weight: bold;
}

.option {
	width: 80%;
	height: 10%;
	font-size: 3vw;
	background-color: rgb(115, 0, 255);
	color: rgb(0, 0, 0);
	margin-top: 3vw;
	margin-right: 10%;
	transition: .4s;
}

.option:hover {
	font-size: bold;
	color: white;
	transform: translateX(5%);
	box-shadow: 10px 10px rgb(87, 0, 194);
}

/* 
#board {
	transform: rotate(180deg);
}
#board .white-b, #board .black-b {
	transform: rotate(180deg)
} */